info-watch.json
[
  {
    "id": "6a463095.d3f9a",
    "type": "tab",
    "label": "info-watch",
    "disabled": false,
    "info": ""
  },
  {
    "id": "11877e88.330951",
    "type": "inject",
    "z": "6a463095.d3f9a",
    "name": "1 sec",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "1",
    "crontab": "",
    "once": false,
    "x": 360,
    "y": 203,
    "wires": [
      [
        "eac71a8c.315198"
      ]
    ]
  },
  {
    "id": "e5c56187.e1f1f",
    "type": "johnny5",
    "z": "6a463095.d3f9a",
    "name": "2x16 LCD",
    "func": "const lcd = new five.LCD({controller: \"PCF8574A\"});\nnode.on('input', ({payload: {date, time}}) => {\n    lcd\n       .cursor(0, 0).print(date)\n        .cursor(1, 0).print(time)\n        .cursor(1, 16);\n});\n",
    "board": "f06f8152.af317",
    "noerr": 0,
    "x": 806,
    "y": 218,
    "wires": [
      []
    ]
  },
  {
    "id": "eac71a8c.315198",
    "type": "function",
    "z": "6a463095.d3f9a",
    "name": "format time",
    "func": "const moment = global.get('moment');\nmoment.locale('en');\nconst now = moment(msg.payload);\nconst date = now.format('ll');\nconst time = now.format('LTS');\nreturn {payload: {date, time}};",
    "outputs": 1,
    "noerr": 0,
    "x": 590,
    "y": 208,
    "wires": [
      [
        "e5c56187.e1f1f"
      ]
    ]
  },
  {
    "id": "f06f8152.af317",
    "type": "nodebot",
    "z": "",
    "name": "NodeMCU",
    "username": "",
    "password": "",
    "boardType": "firmata",
    "serialportName": "",
    "connectionType": "tcp",
    "mqttServer": "",
    "socketServer": "",
    "pubTopic": "",
    "subTopic": "",
    "tcpHost": "192.168.0.102",
    "tcpPort": "3030",
    "sparkId": "",
    "sparkToken": "",
    "beanId": "",
    "impId": "",
    "meshbluServer": "https://meshblu.octoblu.com",
    "uuid": "",
    "token": "",
    "sendUuid": ""
  }
]